.merit {
    width: min(1000px, 100%);
    margin: 0 auto;
    padding-block: $padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-64;
}

.left {
    width: min(500px, 50%);
    flex: 1;
}

.image_container {
    width: 380px;
    height: 190px;
    flex: 0 0 380px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    color: $text-subtle;
}

@media (max-width: 768px) {
    .merit {
        flex-direction: column;
        gap: $spacing-32;
        padding-inline: $padding;
    }

    .left {
        width: 100%;
    }

    .image_container {
        width: 100%;
        height: 200px;
        flex-basis: auto;
    }
}
