.sponsor_text {
    color: $text-subtle;
}

.hosting {
    display: flex;
    gap: $spacing-48;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: $spacing-24;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .sponsor_text {
        text-align: center;
        font-size: 14px;
    }

}
